CREATE TABLE public.users (
  id SERIAL, 
  name VARCHAR, 
  email VARCHAR, 
  password VARCHAR, 
  remember_token VARCHAR, 
  city VARCHAR, 
  profile VARCHAR, 
  juncao CHAR(4), 
  unidade VARCHAR, 
  last_login TIMESTAMP WITHOUT TIME ZONE, 
  created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
  updated_at TIMESTAMP WITHOUT TIME ZONE, 
  deleted_at TIMESTAMP WITHOUT TIME ZONE, 
  CONSTRAINT "PK_USERS" PRIMARY KEY(id)
) WITHOUT OIDS;

-- ####################################################################################################################

CREATE TABLE public.users_session (
  users_id SERIAL, 
  session_id VARCHAR NOT NULL, 
  value TEXT, 
  created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
  updated_at TIMESTAMP WITHOUT TIME ZONE, 
  deleted_at TIMESTAMP WITHOUT TIME ZONE, 
  CONSTRAINT "PK_USERSSESSION" PRIMARY KEY(users_id)
) WITHOUT OIDS;

-- ####################################################################################################################
-- ####################################################################################################################

CREATE TABLE public.audit (
  id SERIAL, 
  "desc" TEXT, 
  created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
  updated_at TIMESTAMP WITHOUT TIME ZONE, 
  deleted_at TIMESTAMP WITHOUT TIME ZONE, 
  CONSTRAINT "PK_AUDIT" PRIMARY KEY(id)
) WITHOUT OIDS;
-- ####################################################################################################################

CREATE TABLE public.files (
  id SERIAL, 
  name VARCHAR, 
  total INTEGER, 
  user_id INTEGER, 
  constante VARCHAR, 
  codigo VARCHAR, 
  dia VARCHAR, 
  mes VARCHAR, 
  ano VARCHAR, 
  sequencial VARCHAR, 
  created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
  updated_at TIMESTAMP WITHOUT TIME ZONE, 
  deleted_at TIMESTAMP WITHOUT TIME ZONE, 
  CONSTRAINT "PK_FILES" PRIMARY KEY(id), 
  CONSTRAINT "FK_FILES_USER" FOREIGN KEY (user_id)
    REFERENCES public.users(id)
    MATCH FULL
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
    NOT DEFERRABLE
) WITHOUT OIDS;

-- ####################################################################################################################

CREATE TABLE public.docs (
  id BIGSERIAL, 
  file_id INTEGER, 
  content VARCHAR, 
  status VARCHAR, 
  user_id INTEGER, 
  type VARCHAR, 
  created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
  updated_at TIMESTAMP WITHOUT TIME ZONE, 
  deleted_at TIMESTAMP WITHOUT TIME ZONE, 
  CONSTRAINT "PK_DOCS" PRIMARY KEY(id), 
  CONSTRAINT "FK_DOCS_FILES" FOREIGN KEY (file_id)
    REFERENCES public.files(id)
    MATCH FULL
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
    NOT DEFERRABLE, 
  CONSTRAINT "FK_DOCS_USER" FOREIGN KEY (user_id)
    REFERENCES public.users(id)
    MATCH FULL
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
    NOT DEFERRABLE
) WITHOUT OIDS;

-- ####################################################################################################################

CREATE TABLE public.docs_history (
  id BIGSERIAL, 
  doc_id BIGINT NOT NULL, 
  description VARCHAR NULL, 
  user_id INTEGER NOT NULL, 
  created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
  updated_at TIMESTAMP WITHOUT TIME ZONE, 
  deleted_at TIMESTAMP WITHOUT TIME ZONE, 
  CONSTRAINT "PK_DOCSHISTORY" PRIMARY KEY(id),   
  CONSTRAINT "FK_DOCSHISTORY_DOCS" FOREIGN KEY (doc_id)
    REFERENCES public.docs(id)
    MATCH FULL
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
    NOT DEFERRABLE, 
  CONSTRAINT "FK_DOCSHISTORY_USERS" FOREIGN KEY (user_id)
    REFERENCES public.users(id)
    MATCH FULL
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
    NOT DEFERRABLE
) WITHOUT OIDS;

-- ####################################################################################################################

CREATE TABLE public.menus (
  id SERIAL, 
  name VARCHAR, 
  icon VARCHAR, 
  tag VARCHAR, 
  url VARCHAR, 
  item_order INTEGER, 
  created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
  updated_at TIMESTAMP WITHOUT TIME ZONE, 
  CONSTRAINT "PK_MENUS" PRIMARY KEY(id)
) WITHOUT OIDS;
-- ####################################################################################################################

CREATE TABLE public.sub_menus (
  id SERIAL, 
  name VARCHAR, 
  icon VARCHAR, 
  tag VARCHAR, 
  url VARCHAR, 
  item_order INTEGER, 
  menu_id INTEGER, 
  created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
  updated_at TIMESTAMP WITHOUT TIME ZONE, 
  CONSTRAINT "PK_SUBMENUS" PRIMARY KEY(id), 
  CONSTRAINT "FK_SUBMENUS_MENU" FOREIGN KEY (menu_id)
    REFERENCES public.menus(id)
    MATCH FULL
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
    NOT DEFERRABLE
) WITHOUT OIDS;
-- ####################################################################################################################

CREATE TABLE public.products (
  id SERIAL, 
  type VARCHAR, 
  description VARCHAR, 
  mod VARCHAR, 
  created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
  updated_at TIMESTAMP WITHOUT TIME ZONE, 
  deleted_at TIMESTAMP WITHOUT TIME ZONE, 
  CONSTRAINT "PK_PRODUCTS" PRIMARY KEY(id)
) WITHOUT OIDS;
-- ####################################################################################################################

CREATE TABLE public.seal (
  id BIGSERIAL, 
  content VARCHAR, 
  user_id INTEGER, 
  created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
  updated_at TIMESTAMP WITHOUT TIME ZONE, 
  deleted_at TIMESTAMP WITHOUT TIME ZONE, 
  CONSTRAINT "PK_SEAL" PRIMARY KEY(id), 
  CONSTRAINT "FK_SEAL_USER" FOREIGN KEY (user_id)
    REFERENCES public.users(id)
    MATCH FULL
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
    NOT DEFERRABLE
) WITHOUT OIDS;
-- ####################################################################################################################

CREATE TABLE public.seal_group (
  id BIGSERIAL, 
  seal_id BIGINT, 
  doc_id INTEGER, 
  created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
  updated_at TIMESTAMP WITHOUT TIME ZONE, 
  deleted_at TIMESTAMP WITHOUT TIME ZONE, 
  CONSTRAINT "PK_SEALGROUP" PRIMARY KEY(id), 
  CONSTRAINT "FK_SEALGROUP_DOC" FOREIGN KEY (doc_id)
    REFERENCES public.docs(id)
    MATCH FULL
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
    NOT DEFERRABLE, 
  CONSTRAINT "FK_SEALGROUP_SEAL" FOREIGN KEY (seal_id)
    REFERENCES public.seal(id)
    MATCH FULL
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
    NOT DEFERRABLE
) WITHOUT OIDS;
-- ####################################################################################################################


-- ####################################################################################################################
-- ####################################################################################################################
CREATE TABLE public.alerts (
  id SERIAL, 
  user_id INTEGER, 
  date_ref DATE, 
  time_ref TIME WITHOUT TIME ZONE, 
  tipo TEXT, 
  type_id INTEGER, 
  product_id INTEGER, 
  "desc" TEXT, 
  created_at TIMESTAMP WITHOUT TIME ZONE, 
  deleted_at TIMESTAMP WITHOUT TIME ZONE, 
  updated_at TIMESTAMP WITHOUT TIME ZONE, 
  CONSTRAINT "PK_ALERTS" PRIMARY KEY(id), 
  CONSTRAINT "FK_ALERTS_USER" FOREIGN KEY (user_id)
    REFERENCES public.users(id)
    MATCH FULL
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
    NOT DEFERRABLE
) WITHOUT OIDS;


-- ####################################################################################################################
-- ####################################################################################################################
-- ####################################################################################################################
-- ####################################################################################################################
